body {
	font-family: neue-haas-grotesk-display, sans-serif;
	font-style: normal;
	background-color: #ffffff;
}
body::-webkit-scrollbar {
	width: 0.5rem;
}
body::-webkit-scrollbar-track {
	background-color: #ffffff;
}
body::-webkit-scrollbar-thumb {
	background-color: #000000;
	border-radius: 10px;
}
