body {
	font-family: neue-haas-grotesk-display, sans-serif;
	font-style: normal;
	background-color: #f9fdff;
}

.container {
	/* border: 1px solid blue; */
	padding: 5rem 2rem;
	max-width: 120rem;
	margin: 0 auto;
}

h1 {
	font-size: 3.6rem;
	font-weight: 600;
}
h2 {
	font-size: 2.4rem;
	font-weight: 600;
}
h3 {
	font-size: 1.8rem;
	font-weight: 600;
}
h4 {
	font-size: 1.6rem;
	font-weight: 600;
}
p {
	font-size: 1.6rem;
	font-weight: 500;
}
a {
	font-size: 1.8rem;
	font-weight: 600;
	text-decoration: none;
}
button {
	font-size: 1.8rem;
	font-weight: 600;
}
svg {
	font-size: 1.8rem;
}
